<div class="meme">
    <a href="#" class="meme-title">{{title}}</a>
    <br>
    <a href="#"><img class="meme-image" src="{{imageUrl}}"></a>
    <div class="info">

        <div id="data-buttons">
            <a href="#/details/{{_id}}" class="custom-button">Check Out</a>
            <a href="#/edit/{{_id}}/{{creator}}" class="custom-button">Edit</a>
            <a href="#/delete/{{_id}}/{{creator}}" class="custom-button">Delete</a>
            <a href="#/profile/{{_acl.creator}}" class="creator">Creator: {{creator}}</a>
        </div>
    </div>
    <hr>
</div>